.open-dropzone-btn {
  background: var(--clr-card-bg-color);
  border: solid var(--clr-card-border-width) var(--clr-card-border-color);
  border-radius: 0 0 0.3rem 0;
  padding: .1rem .2rem .1rem .2rem;
  transform: translateX(-1px) translateY(-1px);
  max-width: 110px;
  cursor: pointer;
}
