<div class="wrapper">
  <app-prioritization-dropzone toolName="Test Curve" [displayColorOptions]="true" [allowedAmount]="-1" (selectionChange)="handleSelectedPrioritizationChange($event)"  (onFailureSetChange)="handleFailureSetChange($event)" (onTestKeyChange)="handleTestKeyChange($event)" (onColorChange)="handleColorChange($event)"></app-prioritization-dropzone>
  <div class="plot" (onResize)="handleResize($event)">
    <plotly-plot [data]="graph.data" [layout]="graph.layout" [config]="config"></plotly-plot>
  </div>
</div>
